<div class="nc-mixins-mixin-settings-netcat-layout-width">

    <div>
        <label>
            Положение блоков:
            <select name="mixin.settings.children_alignment" class="nc-mixins-mixin-settings-netcat-layout-width-alignment-select">
                <option value="left">по левому краю</option>
                <option value="center">по центру</option>
            </select>
        </label>
    </div>

    <div>
        <label>
            Минимальная ширина блоков:
            <input type="number" class="nc--medium" name="mixin.settings.children_min_width" min="0"> пикс.
            <input type="hidden" name="mixin.settings.children_min_width_unit" value="px">
        </label>
    </div>

    <div>
        <label>
            Максимальная ширина блоков:
            <input type="number" class="nc--medium" name="mixin.settings.children_max_width" min="0"> пикс.
            <input type="hidden" name="mixin.settings.children_max_width_unit" value="px">
        </label>
    </div>

    <div class="nc-mixins-mixin-settings-netcat-layout-width-indent-left">
        <label>
            Отступ от левого края контейнера до содержимого:
            <input type="number" class="nc--medium" name="mixin.settings.children_indent_left" min="0"> пикс.
            <input type="hidden" name="mixin.settings.children_indent_left_unit" value="px">
        </label>
    </div>

    <div class="nc-mixins-mixin-settings-netcat-layout-width-indent-left">
        <label>
            Отступ от правого края контейнера до содержимого:
            <input type="number" class="nc--medium" name="mixin.settings.children_indent_right" min="0"> пикс.
            <input type="hidden" name="mixin.settings.children_indent_right_unit" value="px">
        </label>
    </div>

</div>
